
<script type="text/x-handlebars">
  <div class="navbar">
    <div class="navbar-inner">
      <a href="#" class="brand" >Blogger</a>
      <ul class="nav">
        <li> {{#link-to 'posts'}}Posts{{/link-to}}</li>
        <li> {{#link-to 'about'}}About{{/link-to}}</li>
      </ul>
    </div>
  </div>

  {{outlet}}
</script>

<script type="text/x-handlebars" id="posts">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3">
        <table class="table">
          <thead>
            <tr>
              <th>
                Recent Hosts
                {{#link-to 'posts.new' class="btn"}}Add Post{{/link-to}}
              </th>
            </tr>
          </thead>
          <tbody>
            {{#each post in filteredContent}}
            <tr>
              <td>
                {{#link-to post post}} {{post.title}}
                <div class="muted">by {{post.author}}</div>
                {{/link-to}}
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</script>

<script type="text/x-handlebars" id="about">
  <div class="container-fluid">
    <div class="row-fluid">
      <h1>Hello</h1>
    </div>
  </div>
</script>


